@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');
@import './mixin';

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text';
}

.main {
  background: url('../assets/background.png');
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__text {
    color: #ebebebbf;
    text-align: center;
    font-size: 9rem;
  }
  &__break-line {
    width: 40rem;
    height: 3px;
    background-color: #fafafa;
  }
}

footer {
  text-align: center;
}

copyright-x {
  --fontColor: #ffffff;
}

@media screen and (max-width: 655px) {
  .main {
    &__text {
      font-size: 5rem;
    }
    &__break-line {
      width: 100%;
    }
  }
}