@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text';
  background: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.inner {
  margin-top: 2rem;
  background: black;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  clip-path: circle(10% at 90% 13%);
  transition: all .5s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 10px #b6b8b869;
  &:hover {
    clip-path: circle(75%);
    background: #ffffff;
  }
  span {
    float: right;
    color: white;
    font-weight: bold;
    transition: color .5s;
    position: relative;
    margin-right: 4%;
  }
  &:hover span {
    color: #ffffff;
  }
  h1 {
    color: black;
    margin: 0;
  }
  p {
    color: black;
    font-size: .8rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.robot-head {
  background: black;
  height: 100px;
  width: 150px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  transition: all 320ms ease-in-out;
}

.robot-head:hover {
  transform: scale(1.2);
}

.eye {
  background: white;
  height: 10px;
  width:10px;
  border-radius: 100%;
  margin-bottom: 1.5rem;
}

.torso {
  background: black;
  height: 160px;
  width: 150px;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.robot-middle {
  margin-top: 1rem;
  display: flex;
}

.arm-left, .arm-right {
  height: 80px;
  width: 25px;
  background: black;
  margin: 0 10px;
  border-radius: 20px;
  transition: all 320ms ease-in-out;
}

.arm-left:hover {
  transform: rotate(25deg);
}

.arm-right:hover {
  transform: rotate(-25deg);
}

.robot-legs {
  display: flex;
  margin-top: -1.5rem;
}

footer {
  margin: 2rem;
}
